<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="loginForm">
    <input type="email" id="email" placeholder="Email"><br>
    <input type="password" id="password" placeholder="Password"><br>
    <button type="submit">Login</button>
</form>
<a href="/joinForm">회원가입</a>
<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=97699105ffc3f34a8e3f05c017b2fe9b&redirect_uri=http://localhost:8080/callback">카카오 로그인</a>

<script>
    $(document).ready(function() {
        $("#loginForm").submit(function(event) {
            event.preventDefault();
            var loginData = {
                email: $("#email").val(),
                password: $("#password").val()
            };

            $.ajax({
                url: '/user/login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(loginData),
                success: function(response) {
                    console.log("Login successful", response);
                    // JWT를 로컬 스토리지에 저장
                    localStorage.setItem('token', response.accessToken);
                    // 메인 페이지로 리다이렉트
                    window.location.href = "/product";
                },
                error: function(xhr, status, error) {
                    console.error("Login failed", error);
                }
            });
        });
    });
</script>
</body>
</html>